{% extends 'base.html.twig' %}

{% block page_title %}{{ 'categorie.index.pagetitle'|trans({},'categorie') }}{% endblock %}
{% block page_subtitle %}{{ 'categorie.index.subtitle'|trans({},'categorie') }}{% endblock %}

{% block page_content %}

    {% if modal is defined and modal is not empty %}
        {{ include('categorie/_modal.html.twig', { modal: modal } ) }}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% block box_title %}{{ 'categorie.index.boxtitle'|trans({},'categorie') }}{% endblock %}
                {% block box_tools %}
                    <div class="pull-right ">
                        <button class="btn btn-success " data-toggle="modal" data-target="#modalEditNew"><i class="fa fa-plus-square"></i> {{ 'categorie.index.btn.ajouter'|trans({},'categorie') }}</button>
                    </div>
                {% endblock %}
                {% block box_body %}
                    <table id="categorie-datatable" class="table table-striped stripe table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'categorie.id'|trans({},'categorie') }}</th>
                            <th>{{ 'categorie.libelle'|trans({},'categorie') }}</th>
                            <th>{{ 'categorie.index.action'|trans({},'categorie')|raw }}</th>
                        </tr>
                        </thead>

                        {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.id }}</td>
                            <td>{{ categorie.libelle }}</td>
                            <td><a class="btn btn-xs btn-primary" href="/categorie/{{ categorie.id }}"><i class="fa fa-search"></i> {{ 'categorie.index.btn.voir'|trans({},'categorie') }}</a></td>
                        </tr>
                        {% endfor %}

                        <tbody>
                        </tbody>
                    </table>
                {% endblock %}
                {% block box_footer %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#categorie-datatable').DataTable({
                "serverSide": false,
                "processing": true,
                "searching": true,
            });
        });
    </script>
{% endblock %}