{% extends 'base.html.twig' %}

{% block page_title %}{{ 'categorie.show.pagetitle'|trans({},'categorie') }}{% endblock %}
{% block page_subtitle %}{{ 'categorie.show.subtitle'|trans({},'categorie') }}{% endblock %}

{% block page_content %}
    {% if modalEdit is defined and modalEdit is not empty %}
        {{ include('categorie/_modal.html.twig', { modal: modalEdit } ) }}
    {% endif %}

    {{ generate_delete_modal('categorie','delete_categorie') }}

    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}{{ 'categorie.show.boxtitle'|trans({},'categorie') }}{% endblock %}
                {% block box_body %}
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>{{ 'categorie.id'|trans({},'categorie') }}</th>
                                <td>{{ categorie.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'categorie.libelle'|trans({},'categorie') }}</th>
                                <td>{{ categorie.libelle }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right modal-footer">
                        <button class="btn btn-info" data-toggle="modal" data-target="#modalEditNew"><i class="fa fa-pen"></i> Editer</button>
                        <button class="delete-entity btn btn-danger" data-id="{{ categorie.id }}" data-modal-name="categorie"><i class="fa fa-trash"></i> {{ 'categorie.show.btn.supprimer'|trans({},'categorie') }}</button>
                    </div>
                {% endblock %}
                {% block box_footer %}
                    <a href="{{ path('categorie_index') }}">{{ 'categorie.show.btn.retourliste'|trans({},'categorie') }}</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}